@import url("https://use.typekit.net/jmk3xov.css");

*
{
    margin: 0;
    padding: 0;
}

:root
{
    --clr-pink: #FF019A;
    --clr-lightblue: #00F1FF;
    --clr-blue: #290CFF;
    --clr-bluegrey: #0161E8;
    --clr-purple: #9B00E8;
    --clr-background: #1b1b1b;
    --clr-black: #000000;
    --clr-white: white;
    --clr-darklightgrey: #303030;
    --clr-darkgrey: rgba(15, 15, 15, 0.95);
    --space: 400px;
    
    font-weight: 400;
    font-style: normal;
}

html,
body
{
    height: 10vh;
    font-family: 'Lucida Console';
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

canvas 
{
    position: fixed;
    top: 0;
    left: 0;

    /*z-index: -1;*/
  }

  
main 
{
    /*width: 100vw;*/
    color: var(--clr-lightblue);
    z-index: 8;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
h1, 
h2, 
h3, 
blockquote 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
  
  
header 
{
    background: var(--clr-darkgrey);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--space);
    text-align: center;
}

section 
{
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--clr-darkgrey);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--space);
}

blockquote 
{
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--space);
}

blockquote p 
{
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.right
{
    grid-column: 6 / 12;
}

footer
{
    background: var(--clr-darkgrey);
    grid-column: 1 / span 12;
    font-size: 1.3em;
    padding: 1em;
    color: white;
    z-index: 1000;
    text-align: center;
}

#smalltext
{
    font-size: 1.2em;
}

#buttons
{
    grid-column: 3 / 6;    
}

.btnyo
{
    text-align: center;
}

.game
{
    grid-column: 3 / 11;
    text-align: center;

}